body{
    background-color: aquamarine;
    font-family: sans-serif;

    li{
        color:red
    }
    .home-image{
        width: 250px;
        border: 1px solid black;
    }

    .copyright{position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    
    
    }

}